@charset "UTF-8";
/*! minireset.css v0.0.6 | MIT License | github.com/jgthms/minireset.css */
html, body, p, ol, ul, li, dl, dt, dd, blockquote, figure, fieldset, legend, textarea, pre, iframe, hr, h1, h2, h3, h4, h5, h6 {
  margin: 0;
  padding: 0; }

h1, h2, h3, h4, h5, h6 {
  font-size: 100%;
  font-weight: normal; }

ul {
  list-style: none; }

button, input, select {
  margin: 0; }

html {
  box-sizing: border-box; }

*, *::before, *::after {
  box-sizing: inherit; }

img, video {
  height: auto;
  max-width: 100%; }

iframe {
  border: 0; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

td, th {
  padding: 0; }

.header--section--liens input, .header--section--liens .section--button {
  box-shadow: 0px 2px 2px black; }

body {
  width: 100%;
  background-color: #c7c0c0; }

.header--section--liens {
  display: flex;
  min-height: 60px;
  background-color: #645f5f;
  color: white;
  justify-content: flex-end;
  font-family: Georgia, "Times New Roman", Times, serif;
  font-size: 18px; }
  .header--section--liens a {
    color: white;
    padding: 15px;
    text-decoration: none;
    text-transform: uppercase; }
  .header--section--liens a:visited {
    color: white; }
  .header--section--liens input {
    border-radius: 10px;
    border: 2px solid black;
    max-height: 30px;
    margin-top: 12px; }
  .header--section--liens input:focus {
    background-color: #5d816f;
    color: white; }
  .header--section--liens .section--button {
    border-radius: 5px;
    font-family: Georgia, "Times New Roman", Times, serif;
    font-size: 15px;
    font-weight: bold;
    text-transform: uppercase;
    color: #5d816f;
    border: 2px solid #5d816f;
    max-height: 30px;
    margin: 12px 5px 0 15px; }

.section--lien--partager::after {
  font-family: "Font Awesome 5 Free";
  font-weight: 900;
  content: "\f1e0";
  margin-left: 7px; }

.navigation {
  display: flex;
  justify-content: center;
  background-color: #3d2e2e;
  max-height: 50px; }
  .navigation a:first-child {
    font-style: italic; }
  .navigation a:last-child {
    text-shadow: 2px 2px white; }
  .navigation a {
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 25px;
    font-weight: 500;
    margin-left: 15px;
    text-transform: uppercase;
    text-decoration: none;
    color: white; }
  .navigation a:visited {
    text-decoration: none;
    color: white; }

body {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  min-height: 100vh; }

.main {
  flex: 1; }

.carousel-images {
  max-width: 150px;
  margin: 50px auto 0; }

.bouton--carousel--prev {
  height: 25px;
  background-color: #46504b;
  border-radius: 10px;
  border: 2px solid black;
  color: white;
  width: 100px;
  margin-left: 660px; }

.bouton--carousel--next {
  height: 25px;
  background-color: #46504b;
  border-radius: 10px;
  border: 2px solid black;
  color: white;
  width: 100px;
  margin-left: 15px; }

img {
  max-width: 150px;
  max-height: 250px; }

.main--p {
  max-width: 500px;
  text-align: justify;
  margin: 25px auto; }

.main--p::first-letter {
  color: #5d816f;
  font-weight: bold; }

footer {
  padding: 25px;
  flex-shrink: 0;
  background-color: #645f5f;
  text-align: center;
  min-height: 80px; }
  footer q {
    quotes: "«" "»";
    font-style: italic; }

#courriel:focus:valid {
  background-color: green; }

#courriel:focus:invalid {
  background-color: red; }

#button {
  width: 130px;
  margin-left: 170px;
  margin-top: 15px;
  border-radius: 10px;
  border: 2px solid #645f5f;
  background-color: #3f3c3c;
  color: white;
  font-weight: bold;
  text-transform: uppercase; }

form {
  max-width: 500px;
  margin: 150px;
  margin-left: 250px; }
  form .input {
    margin-right: 15px;
    margin-bottom: 15px;
    border: 2px solid #645f5f;
    border-radius: 5px;
    min-width: 450px; }
  form .after::after {
    content: "*"; }
  form .textarea {
    border: 2px solid #645f5f;
    border-radius: 5px;
    resize: none; }

.table {
  min-width: 800px;
  min-height: 500px;
  margin: 150px; }
  .table tr {
    font-family: Georgia, 'Times New Roman', Times, serif;
    border: 2px solid black;
    padding: 15px; }
  .table td {
    text-align: center; }

tbody tr:nth-child(even) {
  background-color: #995656; }
