@import "reset/reset.scss";

$size1: 100%;
$size2: 1024px;
$color-primary: rgb(199, 192, 192);
$font-family: Georgia, 'Times New Roman', Times, serif;

%shadow{
    box-shadow: 0px 2px 2px black;
}

body{
    width: $size1;
    background-color: $color-primary;
}

.header--section--liens{
    display: flex;
    min-height: 60px;
    background-color: rgb(100, 95, 95);
    color: white;
    justify-content: flex-end;
    font: {
        family: $font-family;
        size: 18px;       
    }
    a{
        color: white;
        padding: 15px;
        text-decoration: none;
        text-transform: uppercase;
    }

    a:visited{
        color: white;
    }
    input{
        @extend %shadow;
        border-radius: 10px;
        border: 2px solid black;
        max-height: 30px;
        margin-top: 12px;
    }

    input:focus{
        background-color: #5d816f;
        color: white;
    }
    
    .section--button{
        @extend %shadow;
        border-radius: 5px;
        font:{
        family:$font-family;
        size: 15px;
        weight: bold;
        }
        text-transform: uppercase;
        color: #5d816f;
        border: 2px solid #5d816f;
        max-height: 30px;
        margin: 12px 5px 0 15px;
    }
}

.section--lien--partager::after{
    font-family: "Font Awesome 5 Free";
    font-weight: 900;
    content: "\f1e0";
    margin-left: 7px;
}

.navigation{
    display: flex;
    justify-content: center;
    background-color: rgb(61, 46, 46);
    max-height: 50px;

    a:first-child{
        font-style: italic;        
    }

    a:last-child{
        text-shadow: 2px 2px white;
    } 
    
    a{
        font:{
            family: Georgia, 'Times New Roman', Times, serif;
            size: 25px;
            weight: 500;
        }
        margin-left: 15px;
        text-transform: uppercase;
        text-decoration: none;
        color: white;
        
        
    }

    a:visited{
        text-decoration: none;
        color: white;        
    }
}

body{
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    min-height: 100vh;
}

.main{
    flex:1;
}

.carousel-images{
    max-width: 150px;
    margin: 50px auto 0;
    
}

.bouton--carousel--prev{
    height: 25px;
    background-color: #46504b; 
    border-radius: 10px;
    border: 2px solid black;
    color: white; 
    width: 100px;  
    margin-left: 660px;
     
}

.bouton--carousel--next{
height: 25px;
background-color: #46504b; 
border-radius: 10px;
border: 2px solid black;
color: white; 
width: 100px;  
margin-left: 15px;

}
img{
    max-width: 150px;
    max-height: 250px;
}

.main--p{
    max-width: 500px;
    text-align: justify;
    margin: 25px auto;
}

.main--p::first-letter{
    color: #5d816f;
    font-weight: bold;
}

footer{
    padding: 25px;
    flex-shrink: 0;
    background-color:rgb(100, 95, 95);
    text-align: center;
    min-height: 80px;
    q{
    quotes:  "«" "»";
    font-style: italic;
}
}

#courriel:focus:valid{
    background-color: green;
}

#courriel:focus:invalid{
    background-color: red;
}

#button{
    width: 130px;
    margin-left: 170px;
    margin-top: 15px;
    border-radius: 10px;
    border: 2px solid rgb(100, 95, 95);
    background-color:rgb(63, 60, 60);
    color: white;
    font-weight: bold;
    text-transform: uppercase;
}

form{
    max-width: 500px;
    margin: 150px;
    margin-left: 250px;
    .input{
        margin-right: 15px;
        margin-bottom: 15px;
        border: 2px solid rgb(100, 95, 95);
        border-radius: 5px;
        min-width: 450px;
    }
    .after::after{
        content: "*"
    }
    .textarea{
        border: 2px solid rgb(100, 95, 95);
        border-radius: 5px;
        resize: none;
    }
}

.table{
    min-width: 800px;
    min-height: 500px;
    margin: 150px;

   tr{
    font-family: Georgia, 'Times New Roman', Times, serif;
    border: 2px solid black;
    padding: 15px;
}
   td{
    text-align: center;
}}

tbody tr:nth-child(even){
    background-color: rgb(153, 86, 86);
}

